.special-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 30px;
  border-radius: 16px;
  background: #F4F6FA;
}

.special-card__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  color: #1E222E;
  text-align: center;
}

.special-card__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1E222E;
}

.special-card__bottom {
  display: flex;

}

.special-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #5E81FF;
}

